<p>
  <strong>Title:</strong>
  <%= task.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= task.description %>
</p>
<p>
  <strong>Done:</strong>
  <%= task.status %>
</p>

<%= link_to 'Edit Task', edit_user_task_path(@user, task) %>







